<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTK</title>
    <link rel="stylesheet" href="~/css/normalize.css" runat="server" />
    <link rel="stylesheet" href="~/css/site.css" runat="server" />
    <link rel="stylesheet" href="~/css/Snow.css" runat="server" />
    <link href="~/css/ButtonStyle.css" rel="stylesheet" />
</head>

<body>
    <header class="header-page">
        <div class="container header-page_container">
            <div class="header-page_start">
                <div class="logo">
                    <img class="logo_img" src="~/Img/Logo.png" alt="" width="100" height="100">
                </div>
            </div>
            <div class="header-page_end">
                <nav class="header-page_nav">
                    <ul class="header-page_ul">
                        <li class="header-page_li">
                            <a class="header-page_link" asp-controller="Home" asp-action="Index"><span class="header-page_text">Услуги</span></a>
                        </li>
                        <li class="header-page_li">
                            <a class="header-page_link" href="#"><span class="header-page_text">Поддержка</span></a>
                        </li>
                        <li class="header-page_li">
                            <a class="header-page_link" asp-controller="Home" asp-action="AboutUs"><span class="header-page_text">О нас</span></a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Identity.Name.Any(x=> char.IsDigit(x)))
                            {
                                <li class="header-page_li">
                                    <a class="header-page_link" asp-controller="User" asp-action="Index"  ><span class="header-page_text">@User.Identity.Name </span></a>

                                </li>
                            }
                            else
                            {
                                <li class="header-page_li">
                                    <a class="header-page_link" asp-controller="Admin" asp-action="Index" ><span class="header-page_text">@User.Identity.Name </span></a>
                                </li>
                            }

                        }
                        else
                        {
                            <li class="header-page_li">
                                <a class="header-page_link" asp-controller="Home" asp-action="Login"><span class="header-page_text">Войти</span></a>

                            </li>
                        }
                    </ul>
                </nav>
                <div>
                    <a class="phone_item header-page_phone" href="tel:+79000000000">+7 (900) 000-00-00</a>
                </div>
                <div class="header-page_Button">
                    <button class="btn-menu" type="button" id="Btn">
                        <span class="btn-menu_box">
                            <span class="btn-menu_inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div class="Left_Menu">
        <div class="Menu_wrrapper">
            <div class="menu_inner">

                <div class="menu_content">
                    <div class="Menu_close">
                        <button class="Btn_close"></button>
                    </div>
                    <nav class="Menu_nav">
                        <ul class="Menu_nav_ul">
                            <li class="Menu_nav_li">
                                <a class="Menu_nav_link" asp-controller="Home" asp-action="Index">Услуги</a>
                            </li>
                            <li class="Menu_nav_li">
                                <a class="Menu_nav_link" href="../KURS/index.html">Поддержка </a>
                            </li>
                            <li class="Menu_nav_li">
                                <a class="Menu_nav_link" asp-controller="Home" asp-action="AboutUs">О нас</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.Identity.Name.Any(x => char.IsDigit(x)))
                                {
                                    <li class="Menu_nav_li">
                                        <a class="Menu_nav_link" asp-controller="User" asp-action="Index"><span class="header-page_text">@User.Identity.Name </span></a>

                                    </li>
                                }
                                else
                                {
                                    <li class="Menu_nav_li">
                                        <a class="Menu_nav_link" asp-controller="Admin" asp-action="Index"><span class="header-page_text">@User.Identity.Name </span></a>
                                    </li>
                                }

                            }
                            else
                            {
                                <li class="Menu_nav_li">
                                    <a class="Menu_nav_link" asp-controller="Home" asp-action="Login"><span class="header-page_text">Войти</span></a>

                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    @RenderSection("Scripts", required: false)


    <div id="snowflakeContainer">
        <span class="snowflake"></span>
    </div>
    <script src="~/js/Snow.js" type="text/javascript"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let btn = document.querySelector("#Btn");
        let menu = document.querySelector(".Left_Menu");

        let BtnClose = document.querySelector(".Btn_close");

        btn.onclick = function () {
            menu.classList.toggle("active");

        }

        BtnClose.onclick = function () {
            menu.classList.remove("active");

        }
    </script>

</body>
</html>
